.gap {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;

  .close-icon {
    width: 10px;
    height: 10px;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    border: 1px solid #f6f6f6;
    padding: 10px;
    cursor: pointer;
  }

  &.answer_visible {
    width: 100%;
  }

  &:hover {
    > .close {
      visibility: visible;
    }
  }

  &--drag-end {
    position: relative;
  }

  &--drag-wait {
    outline: 1px dashed gray;
  }
}
