.drop-zone {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  gap: 20px;

  .images {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    transition: all 100ms ease-in;

    &:hover {
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title {
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 20px;
      }

      .description {
        margin: 0;
        padding: 0;
      }
    }

    .dropbox-options {
      flex: 1;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      .dropbox-option {
        height: max-content;
        width: fit-content;
        background-size: contain;
        user-select: none;
        position: relative;

        .close-icon {
          width: 15px;
          height: 15px;
          position: absolute;
          right: -10px;
          top: -10px;
          background: #fff;
          border-radius: 50%;
          border: 1px solid #f6f6f6;
          padding: 10px;
          cursor: pointer;
        }

        .uploaded-image {
          max-width: 200px;
          height: auto;
        }

        &.dragging {
          filter: grayscale(1);
          opacity: .5;
          pointer-events: none;
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .1),
          0 8px 10px 1px rgba(0, 0, 0, .1),
          0 3px 14px 2px rgba(0, 0, 0, .1);
        }
      }
    }

    .button {
      background: #3474d4;
      color: #fff;
      padding: 15px 30px;
      text-transform: uppercase;
      width: fit-content;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

.content {
  display: flex;
  flex: 1;
  min-width: 500px;
}

.gaps {
  height: fit-content;
  width: fit-content;
  position: relative;

  img {
    width: 500px;
    height: auto;
  }

  app-gap {
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
}

@media screen and (max-width: 640px) {
  .drop-zone {
    flex-direction: column;
  }
}
