$container-width: 40%;

.drop-zone {
  display: flex;

  .images {
    flex: 1;

    .custom-file-upload {
      display: flex;
      width: fit-content;
      margin-bottom: 20px;

      input {
        display: none;
      }
      .upload-placeholder {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 20px;
        border: 1px dashed #5AB3E4;
        border-radius: 10px;
        background: #f5f8fa;
        color: #1e252b;
        transition: all .2s linear;

        img {
          width: 50px;
          height: 50px;
        }

        &:hover {
          background: #e6f6ff;
          opacity: .6;
        }
      }
    }

    .dropbox-options {
      flex: 1;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      .dropbox-option {
        border-radius: 5px;
        height: max-content;
        width: fit-content;
        background-size: contain;
        user-select: none;
        position: relative;

        .close-icon {
          width: 15px;
          height: 15px;
          position: absolute;
          right: -10px;
          top: -10px;
          background: #fff;
          border-radius: 50%;
          border: 1px solid #f6f6f6;
          padding: 10px;
          cursor: pointer;
        }

        .uploaded-image {
          max-width: 200px;
          height: auto;
        }

        &.dragging {
          filter: grayscale(1);
          opacity: .5;
          pointer-events: none;
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .1),
          0 8px 10px 1px rgba(0, 0, 0, .1),
          0 3px 14px 2px rgba(0, 0, 0, .1);
        }
      }
    }

  }
}

.content {
  display: flex;
  flex: 1;
}


.gaps {
  height: 100%;
  width: fit-content;
  position: relative;

  img {
    width: 500px;
    height: auto;
  }

  .variants {
    height: 40%;
    width: $container-width;
    position: absolute;
    top: 20%;
    left: calc((100% - $container-width)/2);

    .close-icon {
      width: 10px;
      height: 10px;
      position: absolute;
      right: -10px;
      top: -10px;
      background: #fff;
      border-radius: 50%;
      border: 1px solid #f6f6f6;
      padding: 10px;
      cursor: pointer;
    }
  }

  .gap {
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;

    &_0 {
      height: 30%;
      width: 30%;
    }

    &_1 {
      right: 0;
      height: 30%;
      width: 40%;
    }

    &_2 {
      height: 50%;
      width: 60%;
      bottom: 0;
      left: 20%;
    }

    &.answer_visible {
      width: 100%;
    }

    &:hover {
      > .close {
        visibility: visible;
      }
    }

    &--drag-end {
      position: relative;
    }

    &--drag-wait {
      outline: 1px dashed skyblue;
    }
  }
}

@media screen and (max-width: 640px) {
  .drop-zone {
    flex-direction: column;
  }
}

