<div class="drop-zone">
    <div class="images">
        <div class="actions">
            <app-colors (change)="onColorChange($event)"></app-colors>
            <app-side (change)="onSideChange($event)"></app-side>
            <label class="custom-file-upload">
                <input (change)="onFileChange($event)" type="file"/>
                <div class="upload-placeholder">
                <img class="icon__def" src="/images/upload.svg" />
                </div>
            </label>
        </div>
        <span *ngIf="message">{{message}}</span>
        <div class="dropbox-options">
            <div (dragend)="onOptionDragEnd()"
                 (dragstart)="onOptionDragStart($event, option, i)"
                 *ngFor="let option of imgArrays; index as i"
                 [class.dragging]="dragOption === i"
                 [draggable]="true"
                 class="dropbox-option">
                <img alt="close" class="close-icon" (click)="deleteImage(i)" src="/images/close.svg" />
                <img alt="image" class="uploaded-image" src="{{option}}"/>
            </div>
        </div>
    </div>

    <div class="content">
        <div #vc class="gaps">
            <img alt="image" src="/images/t-shirt/{{color}}/{{side}}.jpg"/>
            <div class="variants">
                <div (dragover)="onDragOver($event)"
                     (touchend)="onDropSuccess($event, i)"
                     (drop)="onDropSuccess($event, i)"
                     *ngFor="let gap of gapsArrays; index as i"
                     [ngStyle]="{
                      width: 150 + 'px',
                      height: 150 + 'px',
                      top: gap?.top ? gap?.top + '%' : null,
                      right: gap?.right ? gap?.right + '%' : null,
                      bottom: gap?.bottom ? gap?.bottom + '%' : null,
                      left: gap?.left ? gap?.left + '%' : null,
                      }"
                     class="gap">
                    <canvas class="gap" id="myCanvas_{{i}}" width="150" height="150"></canvas>
                    <img *ngIf="gap?.url" (click)="removeGap(i)" alt="close" class="close-icon" src="/images/close.svg" />
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet/>
