<div class="drop-zone">
    <div class="images">
        <label class="custom-file-upload">
            <input #file (change)="onFileChange($event)" type="file"/>
            <div class="upload-placeholder">
                <span>Upload file here</span>
                <img class="icon__def" src="/images/upload.svg" />
            </div>
        </label>
        <span *ngIf="message">{{message}}</span>
        <div class="dropbox-options">
            <div (dragend)="onOptionDragEnd()"
                 (dragstart)="onOptionDragStart($event, option, i)"
                 *ngFor="let option of imgArrays; index as i"
                 [class.dragging]="dragOption === i"
                 [draggable]="true"
                 class="dropbox-option">
                <img alt="close" class="close-icon" (click)="deleteImage(i)" src="/images/close.svg" />
                <img alt="image" class="uploaded-image" src="{{option}}"/>
            </div>
        </div>
    </div>

    <div class="content">
        <div #vc class="gaps">
            <img alt="image" src="/images/png-tr.png"/>
            <div class="variants">
                <div (dragover)="onDragOver($event)"
                     (touchend)="onDropSuccess($event, i)"
                     (drop)="onDropSuccess($event, i)"
                     *ngFor="let gap of gapsArrays; index as i"
                     [style.background-image]="'url(' + gap?.url + ')'"
                     class="gap gap_{{i}}">
                    <img *ngIf="gap?.url" (click)="removeGap(i)" alt="close" class="close-icon" src="/images/close.svg" />
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet/>
