.sides-container {
  display: flex;
  gap: 10px;

  .side {
    cursor: pointer;
    color: #1E252B;
    padding: 5px 10px;
    border: 1.5px solid #1E252B;
    position: relative;

    &.active {
      border: 1.5px solid rgb(40, 201, 55);
    }

    .icon__def {
      position: absolute;
      right: -5px;
      top: -5px;
    }
  }
}